server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankdb
    username: postgres
    password: y6#hf^Af&jjfa
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: classpath:db/migration/changelog-master.xml

jwt:
  secret: 508fb9b5cd277840ac8e6e785ab7016d
  expiration: 86400000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

jasypt:
  encryptor:
    password: 'yr6aftVAH7fAhv^&$vKa8F6^f89hfa^2hf'